<script setup>
import { ref, computed, reactive} from 'vue';
import { Head, Link, } from '@inertiajs/vue3';
import { usePage } from '@inertiajs/vue3'
import { useHsStore } from '@/Store/hsStore.js';

import MainButton from "@/Components/DesignSystem/Buttons/MainButton.vue"
import HsLayout from '@/Layouts/HsLayout.vue';
import StartHSProfileBar from './GameComponents/StartHSProfileBar.vue';
import ArrowRight from '@/Components/Dependencies/HS/ArrowRight.vue';
const hsStore = useHsStore()


const props = defineProps({
    profiles: {
        Type: Object,
        required: true
    },
    levels: {
        type: Object,
        required: true
    }
});
let selectedProfile = reactive({})
const selectProfile = (profile_id) => {
    let chosenProfile  = props.profiles.find(p => p.id == profile_id);
    hsStore.chooseProfile(chosenProfile)
    selectedProfile.value = chosenProfile
}
const launchGame = (profile) => {
    
    return route('hs_start_a_game', profile?.id ?? 0 )
}

// Define default profile if only one exists
if(props.profiles.length == 1) { 
    selectProfile(props.profiles[0].id)
}
</script>

<template>
    <HsLayout>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dignissimos dolorem non harum perferendis quos a, distinctio beatae voluptatum officia quidem accusamus asperiores quasi, enim quam? Suscipit dicta quaerat ipsam!
        </p>
        <p class="py-4">
            <h2>Lancer le jeu</h2>
            <StartHSProfileBar :profile="selectedProfile?.value" @click="launchGame" :startGame=true>
                <Link :href="launchGame(selectedProfile?.value)"><ArrowRight></ArrowRight></Link>
            </StartHSProfileBar>
        </p>
        <MainButton href="home" template="squared-button-orange">Profils</MainButton>
        <ul>
            <StartHSProfileBar  v-for="profile of profiles" :key="profile" :profile="profile" @click="selectProfile(profile.id)" :level="levels[profile.level]"></StartHSProfileBar>
        </ul>
        <MainButton href="home" template="squared-button-orange">Scores</MainButton>
    </HsLayout>
</template>
