<script setup>
import { Head, Link, } from '@inertiajs/vue3';
import GoBack from "@/Components/DesignSystem/Buttons/GoBack.vue";
import { ref, reactive, computed, onMounted } from 'vue'
import { router } from '@inertiajs/vue3'
import HsLayout from '@/Layouts/HsLayout.vue';
import { WebCamUI } from 'vue-camera-lib'
import { useHsStore } from '@/Store/hsStore.js';

const props = defineProps({
    plants: {
        type: Array,
        required: true
    }
});
const plant = reactive({})
const hsStore = useHsStore()
const befores = reactive({})
const profile = reactive({})
onMounted(async () => {
    // get a random plant from available plants and set it as current challenge
    plant.value = hsStore.currentChallenge?.value
    if(!plant.value) {
        let temp_plant = props.plants[Math.floor(Math.random() * props.plants.length)]; 
        plant.value = temp_plant
        hsStore.setCurrentChallenge(plant);
        befores.value = temp_plant.hs_plant_definition_indication.filter(node => node.step == 'before')
    }
    profile.value = hsStore.selectedProfile
});

const form = reactive({
  latitude: null,
  longitude: null,
  image: null
})


// camera
const photoTaken = (data) => {
    form.image = data.image_data_url // base 64 image
    locate()
    hsStore.takePicture({...form} )
    router.visit(route("hs_approval"))

}

function locate () {
    if(navigator.geolocation) {
        // API is available ! If localhost, please ensure that you are in HTTPS or insecure website is enabled 
        navigator.geolocation.getCurrentPosition(
            (position) => {
                form.latitude = position.coords.latitude
                form.longitude = position.coords.longitude
            }
        );
    } else {
        console.error('Geolocation is not available')
        // FIXME : No support, is there an alternative ?
        // Cry, maybe... or should we display a message ?
    }
}
</script> 
<template>
    <HsLayout>
        <div v-if="plant.value" class="text-center">
            <h2 >
                {{ plant.value?.plant_definition?.name }}
            </h2>
            <img :src="plant.value?.plant_definition?.picture" :alt="plant?.plant_definition?.name" style="margin: 0 auto; max-height: 30vh;">
            <p>
                {{ plant.value?.plant_definition?.description }}
            </p>
            <ul>
                <li v-for="before of befores.value"> {{ before.message }}</li>
            </ul>
        
            <form @submit.prevent="submit">
                <!-- <label for="latitude">Latitude</label>
                <input id="first_name" v-model="form.latitude" />
                <label for="longitude">Longitude</label>
                <input id="longitude" v-model="form.longitude" /> -->
                <WebCamUI :fullscreenState="false"  @photoTaken="photoTaken" id="webcam" />
            </form>
        </div>
        <div v-else>
            <p>
                Navré, mais nous n'avons aucune plante à vous inciter à faire découvrir aujourd'hui. N'hésitez pas à nous envoyer une plante que vous auriez aimé découvrir !
            </p>
        </div>
    </HsLayout>
</template>

<style>
#webcam button.inline-flex{
    /* 
    Copy paste as this is an imported component and that they do not anticipate the class overload 
    FIXME : This should be solved with SASS mixins or such
    */
    font-size: 1rem;
    line-height: 1.5rem;
    width: 18rem;
    transition-duration: 200ms;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: rgb(243 244 246 );
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: rgb(255 103 20);
    border-color: rgb(255 103 20);
    border-width: 1px;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
</style>