<script setup>
import { reactive } from 'vue'
import HsLayout from '@/Layouts/HsLayout.vue';
import { useHsStore } from '@/Store/hsStore.js';
import { Link } from '@inertiajs/vue3';
const profile = reactive({})
const hsStore = useHsStore()

profile.value = hsStore.selectedProfile

const play_again = () => { 
    hsStore.forgetCurrentChallenge()
    return route('hs_start_a_game', profile?.value?.id ?? 0)
}
const leave = () => { return route('dashboard')}
</script>
<template>
    <HsLayout>
        Statistics ...
        <div style="display: flex; justify-content: space-between">
            <Link :href="play_again()">
                Play again
            </Link>
            <Link :href="leave()">
                Leave game
            </Link>
        </div>
    </HsLayout>
</template>
