<script setup >
import { ref, watch, computed } from 'vue';
import TextInput from "@/Components/DesignSystem/Input/TextInput.vue";
import InputError from "@/Components/InputError.vue";


const props = defineProps({
  form: Object,
});

let username = ref(props.form.username);
let age = ref(props.form.age);

const emit = defineEmits(['updateFormData', 'updateTitle']);

const allErrors = computed(() => {
  return Object.values(props.form.errors).flat();
});


const watcher_username = watch(username, function (newValue, oldValue) { emit('updateFormData', { username: newValue }) })
const watcher_age = watch(age, function (newValue, oldValue) { emit('updateFormData', { age: newValue }) })

// Emit title and subtitle to parent
emit('updateTitle', { title: 'Dis nous en plus', description: "Vos informations restent en lieux sûr. Nous ne les utiliserons jamais à des fins commerciales."});
</script>
<template>
  <div class="flex flex-col items-center">
    <img src="/GraphicRessources/Icons/HomeIcon.svg" alt="icone maison" class="mb-5 md:mb-10 w-9/12 md:5/12 object-contain"/>

    <form class="w-full">
      <div class="flex items-center mb-2 md:mb-4">
        <TextInput type="text" id="pseudo" placeholder="Entrer votre pseudo" v-model="username" />
      </div>
      <TextInput placeholder="Entrer votre age" type="number" id="age" v-model.number="age" min="4" />
      <InputError class="mt-2" :message="allErrors" v-if="allErrors.length > 0" />
    </form>
  </div>
</template>

