<script setup>
import { reactive, watch, computed, onMounted } from 'vue';
import { showPassword, togglePasswordVisibility, generatePassword } from "@/Commons/passwordGenerator.js"

import SmallCheckbox from '@/Components/DesignSystem/Buttons/SmallCheckbox.vue';
import TextInput from '@/Components/DesignSystem/Input/TextInput.vue';
import IconTextInput from '@/Components/DesignSystem/Input/IconTextInput.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';

const props = defineProps({
  form: Object,
  showPassword: Boolean,
});

const allErrors = computed(() => {
  return Object.values(props.form.errors).flat();
});

const emit = defineEmits(['updateFormData', 'updateTitle']);
const form = reactive({ ...props.form });


watch(form, (newValue) => {
  emit('updateFormData', newValue);
});

onMounted(() => {
  emit('updateTitle', { title: 'Bienvenue !', subtitle: 'Crée toi un compte'});
});
</script>
  

<template>
  <div>
    <InputLabel for="name">
      <TextInput id="name" v-model="form.name" type="text" class="mt-1 block w-full " required autofocus
        autocomplete="name" placeholder="Nom ou Prénom" />
    </InputLabel>
  </div>

  <div class="mt-2 md:mt-4">
    <InputLabel for="email">
      <TextInput id="email" v-model="form.email" type="email" class="mt-1 block w-full " required
        autocomplete="email" placeholder="E-mail" />
    </InputLabel>
  </div>

  <div class="mt-2 md:mt-4">
    <InputLabel for="password">
      <IconTextInput id="password" v-model="form.password" :type="showPassword ? 'text' : 'password'"
        :placeholder="'Mot de passe'" class="mt-1 block w-full" required autocomplete="new-password"
        @iconClick="generatePassword(form)">
        <template #icon>
          <img src="/GraphicRessources/Icons/DiceIcon.svg" alt="icone de dés" class="object-contain w-full h-full"/>
        </template>
      </IconTextInput>
    </InputLabel>
  </div>

  <div class="mt-2 md:mt-4">
    <InputLabel for="password_confirmation">
      <IconTextInput id="password_confirmation" v-model="form.password_confirmation"
        :type="showPassword ? 'text' : 'password'" :placeholder="'Confirmer le mot de passe'" class="mt-1 block w-full"
        required autocomplete="new-password" @iconClick="togglePasswordVisibility">

        <template #icon>
          <img src="/GraphicRessources/Icons/ClosedEyeIcon.svg" alt="icone oeil fermé" class="object-contain w-full h-full text-white" v-if="showPassword"/>
          <img src="/GraphicRessources/Icons/EyeIcon.svg" alt="icone oeil ouvert" class="object-contain w-full h-full text-white" v-else/>
        </template>
      </IconTextInput>
    </InputLabel>
  </div>

  <div v-if="$page.props.jetstream.hasTermsAndPrivacyPolicyFeature" class="mt-4">
    <InputLabel for="terms">
      <div class="flex items-center">
        <SmallCheckbox id="terms" v-model:checked="form.terms" name="terms" required />
        <p class="ml-2 text-xs md:text-base">
          J'accepte les <a target="_blank" :href="route('terms.show')"
            class="underline text-xs md:text-base hover:text-gray-900 ease-in-out duration-300">Conditions Générales
            d'Utilisation</a>
          et la <a target="_blank" :href="route('policy.show')"
            class="underline text-xs md:text-base hover:text-gray-900 ease-in-out duration-300">Politique de Confidentialité</a>.
        </p>
      </div>
      <InputError class="mt-2" :message="allErrors" v-if="allErrors.length > 0" />
    </InputLabel>
  </div>
</template>
