<script setup>
import { ref, watch } from 'vue';
import { levels } from '@/Models/Level.js';
import CardContainer from '@/Components/CardContainer.vue';
import ChoiceCard from '@/Components/ChoiceCard.vue';

const props = defineProps({
  form: Object
});

const emit = defineEmits(['updateFormData', 'updateTitle']);

emit('updateTitle', { title: 'Quel est votre niveau ?', subtitle: '' });

let selectedLevel = ref(undefined);
let level = ref(props.form.level);

const selectLevel = (value) => {
  selectedLevel.value = value.level;
  level.value = value;
};

watch(level, (newValue) => {
  emit('updateFormData', { level: newValue.level });
});

</script>

<template>
    <div class="w-full flex flex-col items-center">
      <CardContainer v-for="level of levels" @click="selectLevel(level)" :selected="level.level == selectedLevel">
        <ChoiceCard>
          <template #img>
            <img :src="level.desc?.icon" :alt="level?.desc?.title" />
          </template>
          <template #title>
            {{ level?.desc?.title }}
          </template>
          <template #body>
            {{ level?.desc?.text }}
          </template>
        </ChoiceCard>
      </CardContainer>
    </div>
</template>