<script setup>
import { useForm } from '@inertiajs/vue3';
import { useGardenStore } from '@/Store/gardenStore'

import FormSection from '@/Components/FormSection.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import SubmitButton from '@/Components/DesignSystem/Buttons/SubmitButton.vue';
import TextInput from '@/Components/DesignSystem/Input/TextInput.vue';
import {DEFAULT_ZIPCODE} from '@/Models/Garden.js';

const gardenStore = useGardenStore();

const form = useForm({
    name: '',
    zipcode: '', 
});

const validateZipcode = (zipcode) => {

    if (zipcode === '') {
        gardenStore.saveZipcodeLocalStorage(DEFAULT_ZIPCODE);
        return true;
    }

    const zipcodePattern = /^\d{5}$/;
    return zipcodePattern.test(zipcode);
};

const createTeam = () => {
    if (!validateZipcode(form.zipcode)) {
        form.setError('zipcode', 'Le code postal doit être composé de 5 chiffres.');
        return;
    }

    form.post(route('gardens.store'), {
        errorBag: 'createTeam',
        preserveScroll: true,
    });

    gardenStore.saveZipcodeLocalStorage(form.zipcode);
    gardenStore.saveZipcodeDatabase(form.zipcode);
};
</script>

<template>
    <FormSection @submitted="createTeam">
        <template #title>

        </template>

        <template #description>
            Créer un nouveau jardin pour collaborer avec d'autres personnes
        </template>

        <template #form>
            <div class="col-span-6">
                <InputLabel value="Propriétaire du jardin" />

                <div class="flex items-center mt-2">
                    <img class="object-cover w-12 h-12 rounded-full" :src="$page.props.auth.user.profile_photo_url"
                        :alt="$page.props.auth.user.name">

                    <div class="ml-4 leading-tight">
                        <div class="text-gray-900">{{ $page.props.auth.user.name }}</div>
                        <div class="text-sm text-gray-700">
                            {{ $page.props.auth.user.email }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="name" value="Nom du jardin" />
                <TextInput id="name" v-model="form.name" type="text" class="block w-full mt-1" autofocus />
                <InputError :message="form.errors.name" class="mt-2" />
            </div>
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="zipcode" value="Code postal *Facultatif" />
                <TextInput id="zipcode" v-model="form.zipcode" type="number" class="block w-full mt-1" autofocus />
                <InputError :message="form.errors.zipcode" class="mt-2" />
            </div>
        </template>

        <template #actions>
            <SubmitButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Créer
            </SubmitButton>
        </template>
    </FormSection>
</template>