<script setup>


</script>

<template>
    <div>
        <button class="bg-main-color rounded-md clay goback-button w-8 h-8">
            <div class="flex items-center justify-center arrow-placement" style="transform: scaleX(-1);">
                <svg width="9" height="16" viewBox="0 0 9 16" fill="#ff0000" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.54289 13.0429C8.93342 13.4334 8.93342 14.0666 8.54289 14.4571L8.20711 14.7929C7.81658 15.1834 7.18342 15.1834 6.79289 14.7929L0.707107 8.70711C0.316583 8.31658 0.316582 7.68342 0.707107 7.29289L6.79289 1.20711C7.18342 0.816584 7.81658 0.816583 8.20711 1.20711L8.54289 1.54289C8.93342 1.93342 8.93342 2.56658 8.54289 2.95711L4.20711 7.29289C3.81658 7.68342 3.81658 8.31658 4.20711 8.70711L8.54289 13.0429Z"
                        fill="white" />
                </svg>
            </div>
        </button>
    </div>
</template>    

<style scoped>



.arrow-placement {
    margin-right: 5%;
}
</style>
