<script setup>
import { computed } from 'vue';
import { router, usePage } from '@inertiajs/vue3';

import GardenWidget from '@/Components/GardenWidget.vue';
import Dropdown from '@/Components/Dropdown.vue';
import DropdownLink from '@/Components/DropdownLink.vue';

const page = usePage();

const teams = computed(() => {
    return page.props.auth.user.all_teams;
});

const currentTeam = computed(() => {
    return page.props.auth.user.current_team;
});

const jetstream = computed(() => {
    return page.props.jetstream;
});

const user = computed(() => {
    return page.props.auth.user;
});

const switchToTeam = (team) => {
    router.put(route('current-garden.update'), {
        team_id: team.id,
    }, {
        preserveState: false,
    });
};

</script>

<template>
    <div class="h-svh-60 md:h-full rounded-lg overflow-hidden shadow-container px-4">
            <div class="flex-col h-full">
                <Dropdown v-if="jetstream.hasTeamFeatures" align="center" size="large">
                    <template #trigger>
                        <span class="flex justify-center pb-2 pt-3 md:pt-6">
                            <button type="button"
                                class="inline-flex items-center px-3 py-2 border border-transparent leading-4">
                                <h2 class="text-2xl lg:text-3xl">
                                    {{ currentTeam.name }}
                                </h2>

                                <svg class="ml-2 -mr-0.5 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                                </svg>
                            </button>
                        </span>
                    </template>

                    <template #content>
                        <div class="w-full">
                            <template v-if="jetstream.hasTeamFeatures">
                                <p class="block px-4 py-2 text-xs">
                                    Gérer mon jardin
                                </p>

                                <DropdownLink as="a" :href="route('gardens.show', user.current_team)"
                                    class="px-4 py-1">
                                    <div class="flex items-center ">
                                        <img src="/GraphicRessources/Icons/SettingsIcon.svg" alt="icone paramètres" class="mr-2 h-5 w-5" />
                                        <p>Paramètres du jardin</p>
                                    </div>
                                </DropdownLink>

                                <DropdownLink as="a" v-if="jetstream.canCreateTeams" class="px-4 py-1 mb-2"
                                    :href="route('gardens.create')">
                                    <div class="flex items-center ">
                                        <img src="/GraphicRessources/Icons/AddIcon.svg" alt="icone ajouter" class="mr-2 h-5 w-5" />
                                        <p>Créer un nouveau jardin</p>
                                    </div>
                                </DropdownLink>

                                <div class="border-t border-gray-200 w-10/12" />

                                <div class="block px-4 py-2 text-xs">
                                    <p>Changer de jardin</p>
                                </div>

                                <template v-for="team in teams" :key="team.id">
                                    <form @submit.prevent="switchToTeam(team)">
                                        <DropdownLink as="button" class="px-4 py-1">
                                            <div class="flex items-center cursor-pointer">
                                                <img src="/GraphicRessources/Icons/FenceIcon.svg" alt="icone barrière" class="mr-2 h-5 w-5" />
                                                <p class="text-xs md:text-base">{{ team.name }}</p>
                                            </div>
                                        </DropdownLink>
                                    </form>
                                </template>
                            </template>
                        </div>
                    </template>
                </Dropdown>

                <GardenWidget />
            </div>
        </div>
</template>