<script setup>

const props = defineProps({
  tasks: Object
})

</script>

<template>
  <div class="flex w-full h-full rounded-lg bg-white shadow-lg mt-6">
    <div class="flex flex-col w-full rounded-lg overflow-hidden">
      <h3 class="text-center py-1 w-full font-semibold text-lg">Tâches à réaliser</h3>
      <div v-if="props.tasks >= 0" class="flex h-full items-center justify-center text-mustard text-xxs md:text-sm pb-2 px-4">
          Il n'y a pas de tâches à réaliser pour le moment !  
      </div>
    </div>
  </div>
</template>