<script setup>
import { ref, computed, onMounted } from 'vue';
import { usePage } from '@inertiajs/vue3'
import WeatherSentence from '@/Components/Dependencies/Dashboard/WeatherSentence.vue'
import {useGardenStore} from '@/Store/gardenStore.js'
import {useWeatherStore} from '@/Store/weatherStore.js'

defineProps({
    saying: String,
});

const page = usePage()
const gardenStore = useGardenStore()
const weatherStore = useWeatherStore();

onMounted(() => {
    const currentTeam = page.props.auth.user.current_team;
    const userId = currentTeam.user_id;
    const gardenId = currentTeam.id;

    gardenStore.initializeGarden(currentTeam);

    const currentZipcode = gardenStore.getZipcode(userId, gardenId);

    // console.log(localStorage)

    if (currentZipcode) {
        weatherStore.getWeatherForZipcode(currentZipcode);
    } else {
        console.log("No match found for current team in userGardens");
    }
});

const current_day = (new Date()).toLocaleDateString('fr-FR', { weekday: 'long' });


</script>

<template>
    <h1 class="flex text-3xl flex-wrap font-bold text-main-green capitalize gap-x-2">
        Bonjour 
        <span class="hidden md:block md:text-2xl lg:text-3xl">{{ page.props.user.name }}</span>
    </h1>
    <p class="text-main-green mb-3">
        Tu peux dorénavant créer ton potager  !
    </p>

    <div class="w-full flex flex-col justify-between items-center p-5 rounded-lg bg-main-green">
        <div class="flex flex-row w-full justify-between">
            <div class="flex flex-row items-center gap-2">
                <img :src="weatherStore.icon" alt="soleil" class="w-16"/>
                <div>
                    <h3 class="text-white text-2xl font-bold">{{  weatherStore.name }}</h3>
                    <p class="text-white font-bold text-xs">{{  weatherStore.city }}, {{  weatherStore.country }}</p>
                </div>
            </div>
            <div>
                <h1 class="text-white mt-1 text-3xl font-bold">
                    {{  weatherStore.temperature }} °
                </h1>
                <h4 class="text-white capitalize">
                    {{ current_day }}
                </h4>
            </div>
        </div>
        <div class="h-px bg-white w-full md:w-3/4 my-2 bg-gradient-to-r from-transparent via-white"></div>
        <WeatherSentence :saying="saying"/>
    </div>
</template>
