<script setup>

import TasksListWidget from '@/Components/TasksListWidget.vue';
import { usePage } from '@inertiajs/vue3'
import { ref, computed } from 'vue';
import { roles } from '@/Models/Role.js'
const page = usePage()
const tasks = ref(page.props.tasks)
const hoverTask = ref(false)
const userIsDemo = computed(() => page.props.auth.user.role === roles.demo)
</script>

<template>
    <div class="grid grid-rows-4 grid-flow-col gap-4 h-full">
        <div class="w-full bg-white  rounded-lg shadow-card-layout mt-8">
            <div class="w-full flex items-center justify-center h-full" @mouseover="hoverTask = true"
                @mouseleave="hoverTask = false">
                <div>
                    <div v-show="!hoverTask" class="flex flex-col items-center">
                        <img src="/GraphicRessources/Icons/TasksDone.svg" alt="tâche réalisée"  class="flex justify-center w-1/3" />
                        <p class="text-center text-second-color mt-2 text-xs font-semibold">
                            Mes tâches
                        </p>
                    </div>
                    <div v-if="userIsDemo || tasks?.length == 0" v-show="hoverTask" class="p-8">
                        <p class="text-center text-second-color mt-2 text-xs font-semibold">
                            Pas de plante pas de tâche !
                        </p>
                        <p class="text-center text-second-color mt-8 text-sm">
                            Ajoute une plante dans ta zone pour voir les tâches liées
                        </p>
                    </div>

                    <div v-else class="w-full">
                        <div v-show="hoverTask" class="p-8">
                            <p class="text-center text-second-color mt-2 text-xs font-semibold">
                                Liste de mes tâches
                            </p>
                            <TasksListWidget />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
