<script setup>
import { ref } from 'vue';
import { useForm } from '@inertiajs/vue3';
import ActionMessage from '@/Components/ActionMessage.vue';
import ActionSection from '@/Components/ActionSection.vue';
import SmallCheckbox from '@/Components/DesignSystem/Buttons/SmallCheckbox.vue';
import ConfirmationModal from '@/Components/ConfirmationModal.vue';
import DangerButton from '@/Components/DesignSystem/Buttons/DangerButton.vue';
import DialogModal from '@/Components/DialogModal.vue';
import FormSection from '@/Components/FormSection.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import MainButton from '@/Components/DesignSystem/Buttons/MainButton.vue';
import ThirdButton from '@/Components/DesignSystem/Buttons/ThirdButton.vue';
import SectionBorder from '@/Components/SectionBorder.vue';
import TextInput from '@/Components/DesignSystem/Input/TextInput.vue';

const props = defineProps({
    tokens: Array,
    availablePermissions: Array,
    defaultPermissions: Array,
});

const createApiTokenForm = useForm({
    name: '',
    permissions: props.defaultPermissions,
});

const updateApiTokenForm = useForm({
    permissions: [],
});

const deleteApiTokenForm = useForm({});

const displayingToken = ref(false);
const managingPermissionsFor = ref(null);
const apiTokenBeingDeleted = ref(null);

const createApiToken = () => {
    createApiTokenForm.post(route('api-tokens.store'), {
        preserveScroll: true,
        onSuccess: () => {
            displayingToken.value = true;
            createApiTokenForm.reset();
        },
    });
};

const manageApiTokenPermissions = (token) => {
    updateApiTokenForm.permissions = token.abilities;
    managingPermissionsFor.value = token;
};

const updateApiToken = () => {
    updateApiTokenForm.put(route('api-tokens.update', managingPermissionsFor.value), {
        preserveScroll: true,
        preserveState: true,
        onSuccess: () => (managingPermissionsFor.value = null),
    });
};

const confirmApiTokenDeletion = (token) => {
    apiTokenBeingDeleted.value = token;
};

const deleteApiToken = () => {
    deleteApiTokenForm.delete(route('api-tokens.destroy', apiTokenBeingDeleted.value), {
        preserveScroll: true,
        preserveState: true,
        onSuccess: () => (apiTokenBeingDeleted.value = null),
    });
};
</script>

<template>
    <div>
        <!-- Generate API Token -->
        <FormSection @submitted="createApiToken">
            <template #title>
                Créer un token API
            </template>

            <template #description>
                Les jetons API permettent à des services tiers de s'authentifier en votre nom auprès de notre application.
            </template>

            <template #form>
                <!-- Token Name -->
                <div class="col-span-6 sm:col-span-4">
                    <InputLabel for="name" value="Nom" />
                    <TextInput id="name" v-model="createApiTokenForm.name" type="text" class="mt-1 block w-full"
                        autofocus />
                    <InputError :message="createApiTokenForm.errors.name" class="mt-2" />

                </div>

                <!-- Token Permissions -->
                <div v-if="availablePermissions?.length > 0" class="col-span-6">
                    <InputLabel for="permissions" value="Permissions" />

                    <div class="mt-2 grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div v-for="permission in availablePermissions" :key="permission">
                            <label class="flex items-center">
                                <SmallCheckbox v-model:checked="createApiTokenForm.permissions" :value="permission" />
                                <span class="ml-2 text-sm text-gray-600">{{ permission }}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </template>

            <template #actions>
                <MainButton type="submit"
                :disabled="createApiTokenForm.processing">
                Créer
                </MainButton>
                <ActionMessage :on="createApiTokenForm.recentlySuccessful" class="ml-3">
                    Token créé avec succès
                </ActionMessage>
            </template>
        </FormSection>

        <div v-if="tokens?.length > 0">
            <SectionBorder />

            <!-- Manage API Tokens -->
            <div class="mt-10 sm:mt-0">
                <ActionSection>
                    <template #title>
                        Gérer les tokens API
                    </template>

                    <template #description>
                        Vous pouvez supprimer tous vos jetons existants s'ils ne sont plus nécessaires.
                    </template>

                    <!-- API Token List -->
                    <template #content>
                        <div class="space-y-6">
                            <div v-for="token in tokens" :key="token.id" class="flex items-center justify-between">
                                <div class="break-all">
                                    {{ token.name }}
                                </div>

                                <div class="flex items-center ml-2">
                                    <div v-if="token.last_used_ago" class="text-sm text-gray-400">
                                        Dernière utilisation {{ token.last_used_ago }}
                                    </div>

                                    <button v-if="availablePermissions.length > 0"
                                        class="cursor-pointer ml-6 text-sm text-gray-400 underline"
                                        @click="manageApiTokenPermissions(token)">
                                        Permissions
                                    </button>

                                    <button class="cursor-pointer ml-6 text-sm text-red-500"
                                        @click="confirmApiTokenDeletion(token)">
                                        Supprimer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </template>
                </ActionSection>
            </div>
        </div>

        <!-- Token Value Modal -->
        <DialogModal :show="displayingToken" @close="displayingToken = false">
            <template #title>
                Token API
            </template>

            <template #content>
                <div>
                    Merci de copier le nouveau jeton API. Pour ta sécurité, il ne sera plus affiché.
                </div>

                <div v-if="$page.props.jetstream.flash.token"
                    class="mt-4 bg-gray-100 px-4 py-2 rounded font-mono text-sm text-gray-500 break-all">
                    {{ $page.props.jetstream.flash.token }}
                </div>
            </template>

            <template #footer>
                <ThirdButton @click="displayingToken = false">
                    Fermer
                </ThirdButton>
            </template>
        </DialogModal>

        <!-- API Token Permissions Modal -->
        <DialogModal :show="managingPermissionsFor != null" @close="managingPermissionsFor = null">
            <template #title>
                Permissions du Token API
            </template>

            <template #content>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div v-for="permission in availablePermissions" :key="permission">
                        <label class="flex items-center">
                            <SmallCheckbox v-model:checked="updateApiTokenForm.permissions" :value="permission" />
                            <span class="ml-2 text-sm text-gray-600">{{ permission }}</span>
                        </label>
                    </div>
                </div>
            </template>

            <template #footer>
                <ThirdButton @click="managingPermissionsFor = null">
                    Annuler
                </ThirdButton>

                <MainButton class="ml-3"
                    :disabled="updateApiTokenForm.processing" @click="updateApiToken">
                    Sauvegarder
                </MainButton>
            </template>
        </DialogModal>

        <!-- Delete Token Confirmation Modal -->
        <ConfirmationModal :show="apiTokenBeingDeleted != null" @close="apiTokenBeingDeleted = null">
            <template #title>
                Supprimer un token API
            </template>

            <template #content>
                Es-tu sûr de vouloir supprimer ce jeton API ?
            </template>

            <template #footer>
                <ThirdButton @click="apiTokenBeingDeleted = null">
                    Annuler
                </ThirdButton>

                <DangerButton class="ml-3" :class="{ 'opacity-25': deleteApiTokenForm.processing }"
                    :disabled="deleteApiTokenForm.processing" @click="deleteApiToken">
                    Supprimer
                </DangerButton>
            </template>
        </ConfirmationModal>
    </div>
</template>
