<script setup>
import { computed, onMounted } from 'vue';
import { Head } from '@inertiajs/vue3';
import { usePage } from '@inertiajs/vue3'

import DashboardLayout from '@/Layouts/DashboardLayout.vue';
import Header from '@/Components/Header.vue';
import UserMenu from '@/Components/UserMenu.vue';
import ContainerModal from '@/Components/ContainerModal.vue';
import MessageModal from '@/Components/MessageModal.vue';
import GoBack from '@/Components/DesignSystem/Buttons/GoBack.vue';
import LogoPangaia from '@/Components/DesignSystem/Buttons/LogoPangaia.vue';
import UserProfileButton from '@/Components/DesignSystem/Buttons/UserProfileButton.vue';
import WeatherWidget from '@/Components/Dependencies/Dashboard/WeatherWidget.vue';
import ControlPanel from '@/Components/Dependencies/Dashboard/ControlPanel.vue';
import GardenZoneWidget from '../Components/Dependencies/Dashboard/GardenZoneWidget.vue';
import VegetableBasket from '@/Components/Dependencies/Dashboard/VegetableBasket.vue';

import { useUserStore } from '@/Store/userStore.js'
import { useGardenStore } from '../Store/gardenStore';
import TasksBasket from '../Components/Dependencies/Dashboard/TasksBasket.vue';

const page = usePage()
const userStore = useUserStore()
const gardenStore = useGardenStore()

const props = defineProps({
  saying: Object
});

const plants = computed(() => {
  return page.props.plants;
});

const user = computed(() => {
  return page.props.user;
});

const tasks = computed(() => {
  return page.props.tasks;
});

let hasSeenModalDemo = localStorage.getItem('hasSeenModalDemo') === 'true';

</script>

<template>

  <Head title="Dashboard" />
  <div class="w-full h-full bg-linear-background">
    <Header class="justify-between ">
      <div class="flex flex-row items-center w-1/4">
        <GoBack />
      </div>
      <div class="flex item-center gap-2 ">
        <LogoPangaia class="flex justify-start w-7 md:w-9 cursor-default" />
        <h3 class="text-2xl font-bold text-main-green mt-0.5">
          Potager
        </h3>
      </div>
      <div class="flex justify-end w-1/4">
        <div class="flex items-center gap-4">
          <UserProfileButton />
        </div>
      </div>
    </Header>
    <DashboardLayout>
      <template #LeftContent>
        <WeatherWidget :saying="saying?.title" />
        <ControlPanel />
        <VegetableBasket :user="user" />
        <TasksBasket :tasks="tasks" />
      </template>
      <template #RightContent>
        <GardenZoneWidget />
      </template>
    </DashboardLayout>
  </div>

  <ContainerModal v-if="userStore.isDemoUser && !hasSeenModalDemo">
    <MessageModal>
      <template #title>
        Attention !
      </template>
      <template #body>
        Votre avancement, vos informations seront supprimées au bout de 24h.
        Si toutefois vous souhaitez concerver votre jardin, créer un compte dans l’onglet profil.
      </template>
    </MessageModal>
  </ContainerModal>
  <!-- Menu Burger -->
  <UserMenu />
</template>
