<script setup>
import { ref } from 'vue';
import MainButton from "@/Components/DesignSystem/Buttons/MainButton.vue";
import LoggedoutLayout from "@/Layouts/LoggedoutLayout.vue";

const isLoading = ref(localStorage.getItem('hasSeenLoader') !== 'true');

// Set a delay to load the page
setTimeout(() => {
  isLoading.value = false;
  localStorage.setItem('hasSeenLoader', 'true');
}, 2000);

defineProps({
  canLogin: Boolean,
  canRegister: Boolean,
  laravelVersion: String,
  phpVersion: String,
});

</script>


<template>
    <transition name="fade">
        <LoggedoutLayout v-if="!isLoading" title="Accueil" class="bg-linear-background" typeoflayout="home">  
            <div class="flex flex-col items-center">
                <h1>Bonjour</h1>
                <h3>Bienvenue sur Pangaia</h3>
            </div>
    
            <div class="w-3/4 md:w-full lg:w-1/2 gap-4 justify-center">
                <div class="flex flex-col md:flex-row-reverse md:justify-between items-center h-full gap-5">
                    <div class="flex flex-col justify-start items-center gap-2">
                        <h2 class="mb-2">Inscription</h2>       
                        <MainButton template="squared-button-light">
                            Continuer avec
                            <span class="font-semibold ml-2">
                                <img src="/GraphicRessources/Icons/google-icon.svg" alt="">
                            </span>
                        </MainButton>
                        <MainButton buttonType="button" template="squared-button-light">
                            Continuer avec
                            <span class="font-semibold ml-2">
                                <img src="/GraphicRessources/Icons/apple-icon.svg" alt="">
                            </span>
                        </MainButton>
                        <MainButton buttonType="button" template="squared-button-light">
                            Continuer avec
                            <span class="font-semibold ml-2">
                                <img src="/GraphicRessources/Icons/facebook-icon.svg" alt="">
                            </span>
                        </MainButton>
                        <div class="mt-5">
                            <MainButton href="register" template="squared-button-orange">S'inscrire avec e-mail</MainButton>
                        </div>
                    </div>
                    <div class="w-[2px] bg-gradient-to-b from-transparent from-0% via-black via-50% h-full hidden md:block"></div>
                    <div class="flex flex-col items-center gap-2">
                        <h2>Connexion</h2>
                        <p class="text-center text-sm">Vous avez déjà un compte ? Connectez vous</p>
                        <MainButton href="login" template="squared-button-green">Se connecter</MainButton>
                    </div>
                </div>
            </div>
        </LoggedoutLayout>
    </transition>

    <transition name="fade">
        <div v-if="isLoading" title="Accueil" class="absolute bg-linear-loader bg-cover bg-no-repeat bg-center w-screen h-screen">  
            <div class="w-full h-full flex justify-center items-center">
                <div class="w-20 md:w-48 md:h-48">
                    <img src="/GraphicRessources/Images/logo-white.svg" alt="logo blanc pangaia">
                </div>
            </div>
        </div>
    </transition>
</template>

<style scoped>
    .fade-enter-from, .fade-leave-to {
    opacity: 0;
    }
    .fade-enter-to, .fade-leave-from {
    opacity: 1;
    }
    .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    }
</style>