<script setup>
import { ref } from 'vue';
import { Head } from '@inertiajs/vue3';

import Header from '@/Components/Header.vue';
import UserMenu from '@/Components/UserMenu.vue';
import LibraryLayout from '@/Layouts/LibraryLayout.vue';
import GoBack from '@/Components/DesignSystem/Buttons/GoBack.vue';
import LogoPangaia from '@/Components/DesignSystem/Buttons/LogoPangaia.vue';
import UserProfileButton from '@/Components/DesignSystem/Buttons/UserProfileButton.vue';

</script>

<template>
    <Head title="Bibliothèque" />
    <div class="w-full h-svh bg-linear-background ">
        <Header class="justify-between">
            <div class="flex flex-row items-center w-1/4">
                <GoBack />
            </div>
            <h3 class="flex items-center gap-2 text-2xl font-bold text-mustard">
                <LogoPangaia :href="route('dashboard')" class="flex justify-start w-9" color="#FAA429" />
                Bibliothèque
            </h3>
            <div @click="isBurgerActive = true" class="flex justify-end w-1/4">
                <div class="flex items-center gap-4">
                    <UserProfileButton />
                </div>
            </div>
        </Header>

        <!-- Menu Burger -->
        <UserMenu/>

        <LibraryLayout />
    </div>
</template>