<template>
    <div class="w-full h-full flex flex-col items-center ">

        <div class="w-full h-full flex flex-col justify-between px-4">
            <slot />
        </div>
    </div>
</template>


