<script setup>
import { ref, reactive, nextTick } from 'vue';
import DialogModal from './DialogModal.vue';
import InputError from './InputError.vue';
import SubmitButton from '@/Components/DesignSystem/Buttons/SubmitButton.vue';
import ThirdButton from '@/Components/DesignSystem/Buttons/ThirdButton.vue';
import TextInput from '@/Components/DesignSystem/Input/TextInput.vue';
import MainButton from '@/Components/DesignSystem/Buttons/MainButton.vue';

const emit = defineEmits(['confirmed']);

defineProps({
    title: {
        type: String,
        default: 'Confirmer le mot de passe',
    },
    content: {
        type: String,
        default: 'Pour votre sécurité, veuillez confirmer votre mot de passe pour continuer.',
    },
    button: {
        type: String,
        default: 'Confirmer',
    },
});

const confirmingPassword = ref(false);

const form = reactive({
    password: '',
    error: '',
    processing: false,
});

const passwordInput = ref(null);

const startConfirmingPassword = () => {
    axios.get(route('password.confirmation')).then(response => {
        if (response.data.confirmed) {
            emit('confirmed');
        } else {
            confirmingPassword.value = true;

            setTimeout(() => passwordInput.value.focus(), 250);
        }
    });
};

const confirmPassword = () => {
    form.processing = true;

    axios.post(route('password.confirm'), {
        password: form.password,
    }).then(() => {
        form.processing = false;

        closeModal();
        nextTick().then(() => emit('confirmed'));

    }).catch(error => {
        form.processing = false;
        form.error = error.response.data.errors.password[0];
        passwordInput.value.focus();
    });
};

const closeModal = () => {
    confirmingPassword.value = false;
    form.password = '';
    form.error = '';
};
</script>

<template>
    <span>
        <span @click="startConfirmingPassword">
            <slot />
        </span>

        <DialogModal :show="confirmingPassword" @close="closeModal">
            <template #title>
                {{ title }}
            </template>

            <template #content>
                {{ content }}

                <div class="mt-4">
                    <TextInput ref="passwordInput" v-model="form.password" type="password" class="mt-1 block w-3/4"
                        placeholder="Mot de passe" autocomplete="current-password" @keyup.enter="confirmPassword" />

                    <InputError :message="form.error" class="mt-2" />
                </div>
            </template>

            <template #footer>
                <ThirdButton @click="closeModal">
                    Annuler
                </ThirdButton>

                <MainButton class="ml-3" template="rounded-button-orange"
                    @click="confirmPassword">
                    {{ button }}
                </MainButton>
            </template>
        </DialogModal>
    </span>
</template>
