<script setup>
import { Link, usePage } from '@inertiajs/vue3';
import FooterLibraryButton from '@/Components/DesignSystem/Buttons/GoToLibraryButton.vue';
import FooterDashboardButton from '@/Components/DesignSystem/Buttons/GoToDashboardButton.vue';
import GoToHSButton from '@/Components/DesignSystem/Buttons/GoToHSButton.vue';

const page = usePage();

const isActiveRoute = (routeName) => route().current() === routeName;

</script>

<template>
  <footer class="fixed bottom-0 z-30 lg:hidden">
    <div class="flex flex-row h-14 w-screen bg-white items-end justify-center pb-1">
      <div class="flex flex-row w-10/12">
        <Link :href="route('plant_definitions.show')" class="flex flex-col items-center justify-center w-1/3">
          <FooterLibraryButton class="w-6" :color="isActiveRoute('plant_definitions.show') ? '#FAA429' : '#828282' "/>
          <p :class="isActiveRoute('plant_definitions.show') ? 'underline text-mustard' : ''" class="text-xxs">Bibliothèque</p>
        </Link>
        <Link :href="route('hs_home')" class="flex flex-col items-center justify-center w-1/3">
          <GoToHSButton class="w-6" :color="isActiveRoute('hs_home') ? '#FF6714' : '#828282' "/>
          <p :class="isActiveRoute('hs_home') ? 'underline text-main-orange' : ''" class="text-xxs">Cherche et trouve</p>
        </Link>
        <Link :href="route('dashboard')" class="flex flex-col items-center justify-center w-1/3">
          <FooterDashboardButton class="w-6" :color="isActiveRoute('dashboard') ? '#038340' : '#828282' "/>
          <p :class="isActiveRoute('dashboard') ? 'underline text-main-green' : ''" class="text-xxs">Potager</p>
        </Link>
      </div>
    </div>
  </footer>
</template>