<script setup>
import { usePage } from '@inertiajs/vue3'
import MainButton from '@/Components/DesignSystem/Buttons/MainButton.vue';

import { ref } from 'vue';
const page = usePage()
const zones = ref(page.props.zones)

// console.log("Zones :", zones)
</script>


<template>
	<div class="relative w-full h-4/5 p-4 py-4 rounded-lg overflow-auto hide-scrollbar">
			<div v-if="zones.length > 0" v-for="zone in zones" :key="zone.id" class="cursor-pointer">

					<div
							class="absolute top-0 right-0 bottom-0 left-0 bg-zone-background bg-cover rounded-md"
							:style="{
									top: `${zone.position_top}px`,
									left: `${zone.position_left}px`,
									width: `${zone.width}px`,
									height: `${zone.height}px`,
							}">
							<div
									class="absolute top-0 right-0 bottom-0 left-0 bg-white opacity-30"
									:style="{
											top: `0px`,
											left: `0px`,
											width: `100%`,
											height: `100%`,
									}">
							</div>
							<div v-if="zone.plants.length <= 0" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex items-center justify-center ">
									<div class="w-4 h-3.5 flex items-center justify-center rounded-xl bg-white bg-opacity-30 text-white">
											+
									</div>
							</div>
					</div>
			</div>
			<div v-else class="flex w-full h-full items-center justify-center">
				<div class="flex flex-col items-center gap-2"> 
					<p class="text-sm text-center">Vous n'avez pas encore de zone, commencez à en ajouter dès maintenant</p>
					<MainButton template="rounded-button-orange">
						Ajouter une zone
					</MainButton>
				</div>
			</div>
	</div>
</template>