<script setup>
import { computed } from 'vue';

const props = defineProps({
    message: {
        type: [Array, String],
        default: '', 
    },
});

const messageArray = computed(() => {
  if (Array.isArray(props.message)) {
    return props.message;
  } else {
    return [props.message];
  }
});
</script>

<template>
    <div v-show="message" class="flex justify-center ">
        <div class=" mr-1 mt-1 w-24 lg:w-12 lg:mr-2.5 lg:mt-2">
            <img src="/GraphicRessources/Icons/AccessDenied.svg" alt="accè refusé" />
        </div>
        <div class="flex text-left items-center">
            <p class="text-main-red text-xs font-semibold">
                Erreur veuillez corriger les erreurs suivantes :
                <li v-for="(msg, index) in messageArray" :key="index">{{ msg }}</li>
            </p>
        </div>
    </div>
</template>