<template>
    <div class="mt-8 flex items-center justify-between">
        <div class="flex items-center">
            <CheckBox v-if="selectable" />
            <div class="relative w-14 flex items-center ml-4">
                <!-- <div class="bg-blue-100 rounded-full w-14 h-14 blur-sm absolute top-0 left-0 "></div> -->
                <slot name="imgPlante"></slot>
            </div>
            <div class="flex flex-col justify-center mr-6">
                <h4>
                    <slot name="NomPlante"></slot>
                </h4>
                <p>
                    <slot name="Zone"></slot>
                </p>
            </div>
        </div>
        <SnoozeButton v-if="selectable"></SnoozeButton>
    </div>
</template>

<script setup>
import CheckBox from "./DesignSystem/Buttons/CheckBox.vue";
import SnoozeButton from "./DesignSystem/Buttons/SnoozeButton.vue";

const props = defineProps({
    selectable: {
        type: Boolean,
        default: true
    }
})
</script>

<style></style>