<script setup>
import TaskContainer from "@/Components/TaskContainer.vue";
</script>

<template>
  <div class="w-4/5 flex flex-col items-center mt-6 max-w-lg">
    <nav class="bg-blue-100 rounded-full w-full px-1 py-1">
      <ul class="flex justify-between items-center">
        <li :class="{ 'bg-white': isActive === 'today' }"
          class="rounded-full px-4 py-2 w-1/2 flex justify-center cursor-pointer" @click="isActive = 'today'">
          Aujourd'hui
        </li>
        <li :class="{ 'bg-white': isActive === 'toCome' }"
          class="rounded-full px-4 py-2 w-1/2 flex justify-center cursor-pointer" @click="
            isActive = 'toCome';
          animateTab();
          ">
          toCome
        </li>
      </ul>
    </nav>

    <div v-if="isActive === 'today'" class="w-full flex justify-center">
      <TaskContainer>
        <template #img>
          <img src="@/Components/GraphicRessources/Icons/PlayIcon.svg" alt="arrosoir">
        </template>
        <template #text> Arroser </template>
      </TaskContainer>
    </div>
    <div v-else-if="isActive === 'toCome'" class="container mt-6 w-full flex flex-col">
      <h3>29 avril</h3>
      <TaskContainer>
        <template #img>
          <img src="@/Components/GraphicRessources/Icons/PlayIcon.svg" alt="arrosoir">
        </template>
        <template #text> Arroser </template>
      </TaskContainer>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isActive: "aujourd'hui",
    };
  },
  methods: {
    animateTab() { },
  },
};
</script>
