<template>
  <div class="bg-white shadow-container w-full rounded-2xl flex flex-col items-center p-1 mt-6 max-w-lg">
    <div class="flex items-center justify-center bg-blue-100 rounded-t-xl w-full h-14">
      <div class="flex items-center w-4/5">
        <div>
          <slot name="img"></slot>
        </div>
        <h3 class="pl-4 font-medium">
          <slot name="text"></slot>
        </h3>
      </div>
    </div>
    <div class="w-full flex flex-col items-center mb-8">
      <PlantTask v-for="item of items" :selectable="false">
        <template #imgPlante>
          <img src="@/Components/GraphicRessources/Icons/JeunePousseIcon.svg" class="w-14 h-14">
        </template>
        <template #NomPlante> {{ item.name }} </template>
        <template #Zone> Ma zone </template>
      </PlantTask>

    </div>
  </div>
</template>

<script setup>
import PlantTask from "./PlantTask.vue";

const props = defineProps({
  items: {
    type: Array,
    required: true
  }
})
</script>

<style></style>