<script setup >
import { ref } from 'vue';
import TabBarWidget from '@/Components/TabBarWidget.vue'
import { usePage } from '@inertiajs/vue3'
const page = usePage()
const tasks = ref(page.props.tasks)
</script>

<template>
    <div>
        <TabBarWidget :items="tasks" :displayTabs="false" />
    </div>
</template>