<script setup>
import { computed, watch } from 'vue'
import { router, usePage } from '@inertiajs/vue3';
import { levels } from '@/Models/Level.js'
import { useUserStore } from '@/Store/userStore';

import Header from '@/Components/Header.vue';
import AvatarUser from '@/Components/DesignSystem/GraphicRessources/Icons/AvatarUser.vue';
import UserLevelProgressBar from '@/Components/DesignSystem/ScaleWidgets/UserLevelProgressBar.vue';
import MainButton from '@/Components/DesignSystem/Buttons/MainButton.vue';
import DropdownLink from '@/Components/DropdownLink.vue';

const page = usePage()
const userStore = useUserStore()

const logout = () => {
  router.post(route('logout'));
};

const user = {
  scoreBeforeNextMilestone: 17,
  stepsRequiredForMilestone: 20,
  userPoints: "357",
  userBadges: 14,
}


const level_name = computed(() => 
  Object.values(levels).find(
    lvl => lvl.level == page.props.auth.user.level
  )?.label
)

</script>


<template>
  <!-- Side menu -->
  <transition name="slide">
    <div v-if="userStore.isBurgerActive" class="fixed top-0 right-0 h-full w-full lg:w-1/3 z-50 p-4 bg-linear-menu">
      <div class="h-full flex-col flex justify-between">
        <Header class="justify-between">
          <div class="w-1/3"></div>
          <h3 class="w-1/3 text-center text-xl">Paramètres</h3>
          <div class="w-1/3 flex justify-end">
            <button @click="userStore.handleBurgerMenu()">
              <img src="/GraphicRessources/Icons/CrossIcon.svg" alt="icone fermeture menu" />
            </button>
          </div>
        </Header>
        <div>
          <div class="flex-col flex items-center justify-center ">
            <AvatarUser class="w-20 md:w-24" />
            <div class="text-center">
              <h4 class="capitalize  mt-2 md:mt-4">
                {{ $page.props.auth.user.name }}
              </h4>
              <!--FIXME put the variable of actual level-->
              <p class="italic mt-2 font-semibold text-sm">
                {{ level_name }}
              </p>
            </div>
            <div class="w-full flex-col flex justify-center items-center text-center px-4">
              <UserLevelProgressBar class="w-3/4 mt-6" :level="user.scoreBeforeNextMilestone"
                :milestone="user.stepsRequiredForMilestone" />
              <p class="font-semibold text-sm mt-3">
                {{ user.scoreBeforeNextMilestone }}/{{ user.stepsRequiredForMilestone }}
              </p>
            </div>

            <!-- <div class="flex md:w-10/12 w-full h-full justify-between gap-4 p-5 px-2"> -->
              <!-- <button -->
                <!-- class="flex rounded-lg bg-main-color w-full h-full px-3 py-5 shadow-main-button"> -->
                <!-- <div class="flex w-full justify-center items-center"> -->
                  <!-- <p class="text-white text-left font-medium sm:text-xs text-medium w-1/2"> -->
                    <!-- Mes points: -->
                  <!-- </p> -->
                  <!-- <h4 class="w-full text-white text-left"> -->
                    <!-- {{ user.userPoints }}  -->
                  <!-- </h4> -->
                <!-- </div> -->
              <!-- </button> -->
              <!-- <button -->
                <!-- class="flex rounded-lg bg-second-selection w-full h-full px-3 py-5 shadow-main-button"> -->
                <!-- <div class="flex w-full justify-center items-center"> -->
                  <!-- <p class="text-white text-left font-medium sm:text-xs text-medium w-1/2"> -->
                    <!-- Mes badges -->
                  <!-- </p> -->
                  <!-- <h4 class="w-full text-white text-left"> -->
                    <!-- {{ user.userBadges }} -->
                  <!-- </h4> -->
                <!-- </div> -->
              <!-- </button> -->
            <!-- </div> -->
            <div class="w-9/12 mt-2 md:mt-4">
              <div class="flex flex-col justify-end">
                <DropdownLink :href="route('profile.show')"  @click="userStore.resetBurgerMenu()">
                  <h3>
                    Mon compte
                  </h3>
                </DropdownLink>
                <DropdownLink :href="route('profile.show')" @click="userStore.resetBurgerMenu()">
                  <h3 class="mt-2 md:mt-4">
                    Mes challenges
                  </h3>
                </DropdownLink>
                <DropdownLink :href="route('gardens.show', $page.props.auth.user.current_team)"
                  @click="userStore.resetBurgerMenu()">
                  <h3 class="mt-2 md:mt-4">
                    Mon jardin
                  </h3>
                </DropdownLink>
              </div>

              <div class="justify-end mt-6 md:mt-12">
                <h4 class="text-second-color underline" @click="userStore.resetBurgerMenu()">
                  CGU
                </h4>
                <h4 class="text-second-color underline mt-2" @click="userStore.resetBurgerMenu()">
                  Mentions légales
                </h4>
                <h4 class="text-second-color underline mt-2" @click="userStore.resetBurgerMenu()">
                  Remonter un bug
                </h4>

              </div>
            </div>
          </div>
        </div>
        <div class="flex-col flex justify-between">
          <form 
            @submit.prevent="logout" 
            @click="userStore.handleBurgerMenu()"
            class="text-center flex items-center justify-center w-full">
            <MainButton type="submit" template="squared-button-orange">
                <h4 class="text font-semibold" @click="userStore.resetBurgerMenu()">
                Se déconnecter
              </h4>
            </MainButton>
          </form>
          <p class="text-center bottom-0 mb-2 mt-2 text-xxs italic">
            © Pangaia - {{ new Date().getFullYear() }}
          </p>
        </div>
      </div>
    </div>
  </transition>

  <!-- Layout modale -->
  <div v-if="userStore.isBurgerActive" class="fixed z-40 h-full w-full top-0 left-0 bg-fog-color" @click="userStore.handleBurgerMenu()">
  </div>
</template>

<style scoped>
  .slide-enter-active {
    transition: transform .5s;
  }
  .slide-leave-active {
    transition: transform .5s;
  }
  .slide-enter-from {
    transform: translateX(100%);
  }
  .slide-enter-to {
    transform: translateX(0);
  }
  .slide-leave-from {
    transform: translateX(0);
  }
  .slide-leave-to {
    transform: translateX(100%);
  }
</style>
