<template>
    <input v-model="proxyChecked" type="checkbox" :value="value"
        class="border-solid border-2 border-second-color focus:ring-indigo-200 rounded-lg p-3 transition-all ">
</template>

<script setup>
import { computed } from 'vue';

const emit = defineEmits(['update:checked']);

const props = defineProps({
    checked: {
        type: [Array, Boolean],
        default: false,
    },
    value: {
        type: String,
        default: null,
    },
});
const proxyChecked = computed({
    get() {
        return props.checked;
    },

    set(val) {
        emit('update:checked', val);
    },
});
</script>
