<script setup>
import { ref, onMounted } from 'vue';
import { useInventoryStore } from '@/Store/inventoryStore.js';
import MainButton from '@/Components/DesignSystem/Buttons/MainButton.vue';

const inventoryStore = useInventoryStore();

const props = defineProps({
  plant: Object,
  user: Object
});

onMounted(async () => {
  try {
    await inventoryStore.fetchPlants(props.user.id);
  } catch (error) {
    console.error('Error during mounted hook:', error);
  }
});

const postPlant = async () => {
  try {
    await inventoryStore.addPlant(props.plant.id, props.user.id);
  } catch (error) {
    console.error('Error during postPlant:', error);
  }
};

const getPlantCount = (plant_id) => {
  if (!inventoryStore.user_inventory || !inventoryStore.user_inventory.inventory) {
    return 0;
  }
  const plant = inventoryStore.user_inventory.inventory.find(p => p.id === plant_id);
  return plant ? plant.count : 0;
};


const decrementPlant = (user_id) => {
  inventoryStore.decrementCount(props.plant.id, user_id);
};

const incrementPlant = (user_id) => {
  inventoryStore.incrementCount(props.plant.id, user_id);
};


</script>


<template>
  <MainButton v-if="getPlantCount(plant.id) === 0" @click="postPlant" class="mt-5">
    Ajouter au potager
  </MainButton>

  <div v-else>
    <div class="flex items-center justify-center text-white my-2">
      <button @click="decrementPlant(props.user.id)" class="px-4 text-lg">-</button>
      <h2 class="cursor-default">
        {{ getPlantCount(plant.id) }}
      </h2>
      <button @click="incrementPlant(props.user.id)" class="px-4 text-lg">+</button>
    </div>
    <MainButton template="squared-button-light" type="submit" href="dashboard">
      Voir mon potager
    </MainButton>
  </div>
</template>