<script setup>
const props = defineProps({
  color: {
    type: String,
    default: '#828282'
  }
});
</script>

<template>
  <svg width="100%" height="100%" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M11.125 1H2.875C2.11561 1 1.5 1.59695 1.5 2.33333V23.6667C1.5 24.403 2.11561 25 2.875 25H11.125C11.8844 25 12.5 24.403 12.5 23.6667V2.33333C12.5 1.59695 11.8844 1 11.125 1Z"
      :stroke="color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M6.5 1V25" :stroke="color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    <path
      d="M24.4202 22.2383C24.6749 22.9078 24.2929 23.7111 23.6563 23.9789L21.2373 24.9161C20.6007 25.1839 19.8368 24.7822 19.5822 24.1128L12.5798 3.76166C12.3251 3.09221 12.7071 2.28888 13.3437 2.0211L15.7627 1.08388C16.3993 0.816098 17.1632 1.21777 17.4178 1.88721L24.4202 22.2383Z"
      :stroke="color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
  </svg>
</template>