<script setup>
import { Link } from '@inertiajs/vue3';


const props = defineProps({
  color: {
    type: String,
    default: '#038340'
  },
  href: {
    type: String,
    default: './'
  }
})
</script>

<template>
  <Link :href="props.href" class="transform transition-transform duration-1000 ease-in-out hover:rotate-360">
    <svg width="100%" height="100%" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
    <mask id="mask0_739_1830" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="52" height="53">
    <path d="M37.803 0.5H13.7827C6.17031 0.5 0 6.72012 0 14.3932V38.6068C0 46.2799 6.17031 52.5 13.7827 52.5H37.803C45.4154 52.5 51.5857 46.2799 51.5857 38.6068V14.3932C51.5857 6.72012 45.4154 0.5 37.803 0.5Z" fill="white"/>
    </mask>
    <g mask="url(#mask0_739_1830)">
    <mask id="mask1_739_1830" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-1" y="-1" width="54" height="55">
    <path d="M52.1932 -0.107422H-0.607422V53.1074H52.1932V-0.107422Z" fill="white"/>
    </mask>
    <g mask="url(#mask1_739_1830)">
    <rect x="-0.665771" y="-0.125641" width="52.8905" height="53.2404" :fill="color"/>
    </g>
    </g>
    <path d="M26.223 27.5782L26.2449 45.0614L43.5883 45.0395C43.5774 35.3837 35.801 27.5661 26.223 27.5794V27.5782Z" fill="#FFECC4"/>
    <path d="M43.5919 17.0405C43.5858 12.2126 39.6994 8.30435 34.9092 8.30921C30.1202 8.31528 26.2423 12.2332 26.2484 17.0611C26.2545 21.889 30.1409 25.7972 34.9311 25.7924C39.7201 25.7863 43.5979 21.8684 43.5919 17.0405Z" fill="#FFECC4"/>
    <path d="M24.7541 27.5831L7.41064 27.6049C7.42158 37.2607 15.198 45.0784 24.776 45.065L24.7541 27.5818V27.5831Z" fill="#FFECC4"/>
    <path d="M7.38647 8.3347C7.39741 17.9905 15.1738 25.8082 24.7518 25.7948C24.7409 16.139 16.9645 8.32134 7.38647 8.3347Z" fill="#FFECC4"/>
    </svg>
  </Link>
</template>
