<script setup>
import { computed } from 'vue';
import { Link } from '@inertiajs/vue3';

const props = defineProps({
    href: {
        type: String,
        required: false,
    },
    hrefParam: {
        type: String,
        required: false,
    },
    type: {
        type: String,
        default: 'button',
    },
    template: {
        type: String,
        default: 'squared-button-orange',
    }
});

const buttonClass = computed(() => {
    switch (props.template) {
        case 'squared-button-orange':
            return 'w-52 md:w-72 py-1.5 border border-main-orange font-semibold text-main-white hover:text-main-orange bg-main-orange rounded-xl hover:bg-main-orange-10';
        case 'squared-button-green':
            return 'w-52 md:w-72 py-1.5 border border-main-green font-semibold text-main-white hover:text-main-orange bg-main-green rounded-xl hover:bg-main-orange-10';
        case 'rounded-button-green':
            return 'w-44 md:w-72 py-1 border border-main-green text-sm md:text-base text-main-white hover:text-main-green bg-main-green rounded-3xl hover:bg-light-green';
        case 'squared-button-light':
            return 'w-52 md:w-72 py-1.5 border font-medium border-main-green text-black hover:text-gray-900 bg-light-green rounded-xl hover:bg-main-orange-10';
        case 'rounded-button-orange':
            return 'w-44 md:w-72 py-1 border border-main-orange text-sm md:text-base text-main-white hover:text-main-orange bg-main-orange rounded-3xl hover:bg-main-orange-10';
        case 'rounded-button-orange-tiny':
            return 'w-24 md:w-44 py-0.5 md:py-1 border border-main-orange text-xxxs md:text-xs text-main-white hover:text-main-orange bg-main-orange rounded-3xl hover:bg-main-orange-10';
        case 'squared-button-orange-big':
            return 'w-11/12 md:w-3/4 py-1.5 border border-main-orange font-semibold text-main-white hover:text-main-orange bg-main-orange rounded-xl hover:bg-main-orange-10';
        default:
            break;
    }
});

const component = computed(() => (props.href ? Link : 'button'));
</script>

<template>
    <component 
        :is="component"
        :type="props.type"
        :href="props.href ? (props.hrefParam? route(props.href, props.hrefParam) : route(props.href)) : undefined"
        :class="buttonClass"
        class="flex items-center justify-center text-base border transition-colors duration-200">   
        <slot />
    </component>
</template>