<script setup>
defineProps({
    type: {
        type: String,
        default: 'submit',
    },
});
</script>

<template>
    <button :type="type" class="rounded-xl my-4 h-14 w-full	text-sm	font-semibold uppercase min-w-min text-main-white bg-second-color shadow-main-button">
        <slot />
    </button>
</template>
