<script setup>
import { computed, onMounted, ref } from 'vue'
import { usePage } from '@inertiajs/vue3'
import { useUserStore } from '@/Store/userStore.js'
import AvatarUser from '@/Components/DesignSystem/GraphicRessources/Icons/AvatarUser.vue';

const page = usePage()
const userStore = useUserStore()

const isDemoUser = ref(false)

const roles = computed(() => {
  return page.props.user.roles.map(role => role.name).join(', ');
})

onMounted(() => {
    userStore.setUser(page.props.user);
    isDemoUser.value = userStore.isUserDemo;

    if (userStore.isUserDemo && !localStorage.getItem('hasSeenModalDemo')) {
        localStorage.setItem('hasSeenModalDemo', 'true');
    }
});

</script>
<template>
    <button @click="userStore.handleBurgerMenu()"  id="userMenuIcon" class="flex items-center gap-3">
      <div class="hidden md:block truncate">
        {{ roles }}
      </div>
        <AvatarUser class="h-8 w-8"/>
    </button>
</template>