<script setup>
import { onMounted, ref } from 'vue';

defineProps({
  modelValue: String | Number,
  type: {
    type: String,
    default: "text"
  },
  placeholder: {
    type: String,
    default: ""
  }
});

defineEmits(['update:modelValue', 'iconClick']);

const input = ref(null);

onMounted(() => {
  if (input.value?.hasAttribute('autofocus')) {
    input.value.focus();
  }
});

defineExpose({ focus: () => input.value.focus() });

</script>

<template>
  <div class="flex items-center text-xs rounded-xl overflow-hidden border-2 bg-white border-main-orange  focus-within:border-main-green focus-within:ring focus-within:ring-offset-1 focus-within:ring-main-green h-11 md:h-12">
    <input :type="type" :placeholder="placeholder" ref="input"
      class="flex-grow md:py-3 px-4 md:px-6 text-dark-grey text-xs placeholder:text-dark-grey md:placeholder:text-sm outline-none border-none focus:ring-0"
      :value="modelValue" @input="$emit('update:modelValue', $event.target.value)">
    <div
      class="cursor-pointer w-10 md:w-1/12 py-3 px-1 h-11 md:h-12 text-center text-xs font-medium  bg-main-orange "
      @click="$emit('iconClick')">
      <slot name="icon" />
    </div>
  </div>
</template>
