<template>
    <div class="flex items-center relative">
        <input
            id="search" 
            type="search"
            class="relative block w-full h-11.5 md:h-14 border focus:border-2 focus:border-second-color text-dark-grey placeholder:text-main-grey placeholder:text-sm rounded-lg focus:ring focus:ring-offset-2 py-3 px-6 shadow-search-input transition duration-500 ease-in-out" 
            :value="modelValue" 
            @input="$emit('update:modelValue', $event.target.value)"
            @focus="focused = true"
            @blur="focused = false"
            placeholder="Recherche..." />
        <transition 
            enter-active-class="transition ease-out duration-300"
            enter-from-class="transform opacity-0 scale-95"
            enter-to-class="transform opacity-100 scale-100"
            leave-active-class="transition ease-in duration-75"
            leave-from-class="transform opacity-100 scale-100"
            leave-to-class="transform opacity-0 scale-95">
            <img src="/GraphicRessources/Icons/SearchIcon.svg" alt="icone rechercher" v-show="!focused" class="absolute right-4 md:right-5 mt-0.5" />
        </transition>
    </div>
     
</template>

<script>
export default {
    components: {
        SearchIcon,
    },
    data() {
        return {
        focused: false,
        };
    },
    props: {
        modelValue: String,
    },
};
</script>
