<script setup>
import { onMounted, ref } from 'vue';

defineProps({
    modelValue: String | Number,
    type: {
        type: String,
        default: "text"
    }
});

defineEmits(['update:modelValue']);

const input = ref(null);

onMounted(() => {
    if (input.value?.hasAttribute('autofocus')) {
        input.value.focus();
    }
});

defineExpose({ focus: () => input.value.focus() });

</script>

<template>
    <input :type="type"
        class="w-full h-11 md:h-12 md:py-3 px-4 md:px-6 rounded-xl z-50 border-2 border-main-orange focus:border-main-green text-xs md:text-base placeholder:text-dark-grey placeholder:text-xs md:placeholder:text-sm  focus:ring focus:ring-offset-1 focus:ring-main-green"
        :value="modelValue" @input="$emit('update:modelValue', $event.target.value)">
</template>
