<template>
  <div class="bg-white w-full pt-6 pb-10 rounded-3xl border-2 border-blue-100 flex flex-col items-center">
    <div class="w-48 h-2 bg-blue-100 rounded-full"></div>
    <slot></slot>

  </div>
</template>
