<script setup>
import Footer from '@/Components/Footer.vue'; 
</script>

<template>
    <section class="md:h-svh-85 lg:px-12 md:py-7 px-4 md:grid md:grid-cols-6 lg:gap-6 pb-16 lg:pb-0">
        <div class="md:h-full md:col-span-2">
            <div class="flex-col flex md:w-full md:h-full ">
                <slot name="LeftContent" />
            </div>
        </div>
        <div class="md:col-span-4 mt-6 md:mt-0 md:ml-5 lg:ml-10">
            <slot name="RightContent" />
        </div>
    </section>
    <Footer/>
</template>
