<script setup>
  import { ref, computed, reactive, onMounted } from 'vue';
  import { usePage, Link } from '@inertiajs/vue3'
  import Footer from '@/Components/Footer.vue';
  import MainButton from '@/Components/DesignSystem/Buttons/MainButton.vue';
  import ScoreScale from '@/Components/DesignSystem/ScaleWidgets/ScoreScale.vue';
  import { Head } from '@inertiajs/vue3';
  import GoBack from "@/Components/DesignSystem/Buttons/GoBack.vue";
  import { useHsStore } from '@/Store/hsStore.js';

  const page = usePage();
  const hsStore = useHsStore()
  const profile = reactive({})

  onMounted(async () => {
    profile.value = hsStore.selectedProfile

})
</script>

<template>
  <main>
    <Head title="Cherche et Trouve" />
    <GoBack />
    <div class="flex justify-center px-4 py-2">
      <div class="relative rounded-lg w-full md:w-1/2 xl:w-1/4">
        <h2>
        <span class="inline-block">
          <img src="/GraphicRessources/Icons/BigPousseIcon.svg" alt="Search" class="h-4 w-4 " />
        </span>
        Cherche et Trouve</h2>
      </div>
    </div>

    <section class="flex flex-col items-center justify-center w-full px-4 md:px-16 py-6 md:py-8 pb-16 lg:pb-10" >
        <p>Profile : {{ profile?.value?.name }}</p>
          <slot></slot>
    </section>

    <Footer/>
  </main>
</template>


<style scoped>

</style>
