<script setup>
import { computed } from 'vue';
import { Head, Link, useForm } from '@inertiajs/vue3';
import { getDemoUserForm } from "@/Models/DemoUser.js";
import Header from '@/Components/Header.vue';
import GoBack from '@/Components/DesignSystem/Buttons/GoBack.vue';
import RegisterProgressionBar from '@/Components/DesignSystem/ScaleWidgets/RegisterProgressionBar.vue';
import MainButton from '../Components/DesignSystem/Buttons/MainButton.vue';

const props = defineProps({
  title: String,
  typeoflayout: {
    type: String,
    default: "default"
  },
  backgroundClass: {
    type: String,
    default: "bg-linear-background z-10"
  },
});

const headers = {
  default: Header,
  home: Header,
  register: Header,
};

const sections = {
  default: 'default-section',
  home: 'home-section',
  register: 'register-section',
};

const headerClass = computed(() => {
  return route().current() === 'home' ? 'justify-end' : 'justify-between';
});


const login_as_demo = async () => {
    const demoUserform = await getDemoUserForm();
    const form = useForm(demoUserform);
    
    form.post(route("register"), {
        onFinish: () => route('dashboard'),
        onSuccess: (page) => { console.log(page) },
        onError: (errors) => { console.error(errors) },
    });
};
</script>

<template>
  <div :class="backgroundClass" class="w-screen h-svh-85 overflow-hidden">
    <Head :title="title" />

    <component :is="headers[typeoflayout]" :class="headerClass" class="absolute top-0 z-30">
      <GoBack v-if="route().current() !== 'home'" class="w-2/12 md:w-1/4"/>
      <RegisterProgressionBar v-if="typeoflayout === 'register'" class="w-4/12 md:w-1/4"/>
      <div :class="{ 'w-4/12 md:w-1/4': route().current() === 'register', 'w-full': route().current() !== 'register' }" class="flex justify-end">
        <MainButton 
          @click="login_as_demo" 
          :template="route().current() === 'register' ? 'rounded-button-orange-tiny' : 'rounded-button-orange'" >
          Essayer l’application
        </MainButton>
      </div>
    </component>

    <component :is="sections[typeoflayout]" class="flex absolute top-0 h-screen w-screen items-center justify-center z-20">
      <div class="flex flex-col items-center justify-center w-full h-full px-4 gap-7">
        <slot />
      </div>
    </component>
  </div>
</template>