<script setup>
import { ref } from 'vue';
import { Head, useForm } from '@inertiajs/vue3';
import AuthenticationCard from '@/Components/AuthenticationCard.vue';
import AuthenticationCardLogo from '@/Components/AuthenticationCardLogo.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import SubmitButton from '@/Components/DesignSystem/Buttons/SubmitButton.vue';
import TextInput from '@/Components/DesignSystem/Input/TextInput.vue';
import LoggedoutLayout from "@/Layouts/LoggedoutLayout.vue";
import GoBack from '@/Components/DesignSystem/Buttons/GoBack.vue';


const form = useForm({
    password: '',
});

const passwordInput = ref(null);

const submit = () => {
    form.post(route('password.confirm'), {
        onFinish: () => {
            form.reset();

            passwordInput.value.focus();
        },
        onError: () => {
            form.setError({
                password: "Aïe, je crois que tu t'es trompé de mot de passe, regarde si tu n'as pas la touche majuscule active",
            });
        },
    });
};
</script>

<template>
    <form @submit.prevent="submit">
        <LoggedoutLayout title="Confirmation de mot de passe">

            <!-- Header -->
            <template #objectStart>
                <GoBack />
            </template>

            <template #objectEnd>
                <Link class="underline text-main-black font-semibold" :href="route('dashboard')">
                tester l'application
                </Link>
            </template>

            <AuthenticationCard>

                <div class="text-left">
                    <h1>
                        Confirmation
                    </h1>
                    <h3>
                        Valide ton nouveau mot de passe !
                    </h3>
                </div>

                <div>
                    <TextInput id="password" ref="passwordInput" v-model="form.password" type="password"
                        class="mt-1 block w-full" required autocomplete="current-password" autofocus
                        oninvalid="this.setCustomValidity('Ce champ ne peut pas être vide')"
                        oninput="this.setCustomValidity('')" placeholder="Confirmer mon mot de passe" />

                    <p v-if="!form.errors.email" class="mb-4 mt-5 text-center text-xxs">
                        Une petite vérification et on est bon !
                    </p>

                    <InputError v-if="form.errors.password" class="mt-2" :message="form.errors.password" />
                </div>

                <div class="flex justify-center mt-4">
                    <SubmitButton class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Confirmer
                    </SubmitButton>
                </div>

            </AuthenticationCard>
        </LoggedoutLayout>
    </form>
</template>


