<script setup>
import { ref, reactive } from 'vue';
import { useForm } from "@inertiajs/vue3";
import { User } from '@/Models/User.js';
import { DEFAULT_ZIPCODE } from '@/Models/Garden.js';

import { isValidEmail } from '@/Tools/validators.js';
import { useRegisterStore } from '@/Store/registerStore'
import { useGardenStore } from '@/Store/gardenStore'

import LoggedoutLayout from "@/Layouts/LoggedoutLayout.vue";
import SubmitButton from "@/Components/DesignSystem/Buttons/SubmitButton.vue";
import MainButton from "@/Components/DesignSystem/Buttons/MainButton.vue";
import RegisterFormStep1 from "@/Components/Form/RegisterForm/RegisterFormStep1.vue";
import RegisterFormStep2 from "@/Components/Form/RegisterForm/RegisterFormStep2.vue";
import RegisterFormStep3 from "@/Components/Form/RegisterForm/RegisterFormStep3.vue";
import RegisterFormStep4 from "@/Components/Form/RegisterForm/RegisterFormStep4.vue";

// Get the stores
const registerStore = useRegisterStore();
const gardenStore = useGardenStore();
const form = useForm(new User().getForm());

const showPassword = ref(false);

const stepsComponent = [
  RegisterFormStep1,
  RegisterFormStep2,
  RegisterFormStep3,
  RegisterFormStep4,
];

const submitForm = async () => {
  const zipcode = form.zipcode ? form.zipcode : DEFAULT_ZIPCODE;
  // If zipcode is set, add to gardenStore and local storage
  gardenStore.saveZipcodeLocalStorage(zipcode);
  form.post(route("register"), {
    onSuccess: async () => {
      // If zipcode is set, add to gardenStore and local storage
      await gardenStore.saveZipcodeDatabase(form.zipcode ? form.zipcode : DEFAULT_ZIPCODE)
      route('dashboard');
    },
    onError: () => { 
      form.reset(form.password, form.password_confirmation); 
      gardenStore.deleteZipcodeLocalStorage();
      registerStore.resetStep();
    },
    onFinish: () => {
      form.reset();
      registerStore.resetStep();
    },
  });
};

const nextStep = () => {
  if (isStepValid()) registerStore.incrementStep()
}

const updateFormData = (updatedData) => {
  Object.assign(form, updatedData);
}

const title = ref('');
const subtitle = ref('');
const description = ref('');

const handleUpdateTitle = (payload) => {
  title.value = payload.title;
  subtitle.value = payload.subtitle;
  description.value = payload.description;
};


// Validation functions

const validateStep1 = () => {
  if (!form.name) form.errors.name = "Un nom est requis";
  if (!form.email || !isValidEmail(form.email)) form.errors.email = "Cette adresse email n'est pas valide";
  if (!form.password || form.password.length < 12 || form.password_confirmation != form.password) {
    form.errors.password = "Merci de saisir deux fois un mot de passe de minimum 12 caractères";
  }      
  if (!form.terms) form.errors.terms = "Vous devez accepter les CGU";
}

const validateStep2 = () => {
  if (form.age < 3 || form.age > 120) form.errors.age = "Et sans mentir?";
}

const validateStep4 = () => {
  if (!form.level) form.errors.level = "Sélectionnez un niveau";
}

const isStepValid = () => {
  // Reset errors
  for (let key in form.errors) {
    delete form.errors[key];
  }

  switch (registerStore.step) {
    case 1:
      validateStep1();
      break;
    case 2:
      validateStep2();
      break;
    case 4:
      validateStep4();
      break;
  }
  return Object.keys(form.errors).length == 0;
}

</script>

<template>
  <LoggedoutLayout title="Register" typeoflayout="register" > 
    <form 
      @submit.prevent="submitForm" 
      class="w-full h-90-svh flex flex-col justify-between px-4 py-4 max-w-xl">

      <div class="text-left mb-3">
        <h1 class="text-2xl md:text-3xl">
          {{ title }}
        </h1>
        <h3>
          {{ subtitle }}
        </h3>
        <p class="text-xs md:text-base text-center md:text-left">
          {{ description }}
        </p>
      </div>

      <div>
        <component 
          :is="stepsComponent[registerStore.step - 1]" 
          :form="form" 
          :showPassword="registerStore.step === 1 ? showPassword : undefined"
          @updateFormData="updateFormData" 
          @updateTitle="handleUpdateTitle"
        />
        <button type="button" @click="showPassword = !showPassword"/>
      </div>

      <div class="flex flex-col items-center w-full mt-0 md:mt-4">
        <SubmitButton 
          v-if="registerStore.step == registerStore.maxSteps" 
          :disabled="form.processing" 
          @click="form"
          :class="{ 'opacity-25': form.processing }">
          S'inscrire
        </SubmitButton>
        <MainButton v-else @click.prevent="nextStep" :disabled="!isStepValid" template="squared-button-orange-big">
          Suivant
        </MainButton>
        <div class="mt-3">
          <p class="text-center mb-2 text-xs md:text-sm font-semibold">Déjà un compte ?
            <a :href="route('login')" class="underline text-xs md:text-sm text-main-green hover:text-gray-900 ease-in-out duration-300">
              Se connecter
            </a>
          </p>
        </div>
      </div>
    </form>
  </LoggedoutLayout>
</template>

