<script setup>
import { Head, useForm } from '@inertiajs/vue3';
import AuthenticationCard from '@/Components/AuthenticationCard.vue';
import AuthenticationCardLogo from '@/Components/AuthenticationCardLogo.vue';
import InputError from '@/Components/InputError.vue';
import SubmitButton from '@/Components/DesignSystem/Buttons/SubmitButton.vue';
import TextInput from '@/Components/DesignSystem/Input/TextInput.vue';
import LoggedoutLayout from "@/Layouts/LoggedoutLayout.vue";
import GoBack from '@/Components/DesignSystem/Buttons/GoBack.vue';
import {showPassword, togglePasswordVisibility, generatePassword} from "@/Commons/passwordGenerator.js"

const props = defineProps({
    email: String,
    token: String,
});

const form = useForm({
    token: props.token,
    email: props.email,
    password: '',
    password_confirmation: '',
});

const submit = () => {
    form.post(route('password.update'), {
        onFinish: () => form.reset('password', 'password_confirmation'),
    });
};
</script>

<template>
    <form @submit.prevent="submit">
        <LoggedoutLayout title="Réinitialisation de mot de passe">
            <template #objectStart>
                <GoBack />
            </template>

            <template #objectEnd>
                <Link class="underline text-main-black font-semibold" :href="route('dashboard')">
                tester l'application
                </Link>
            </template>
            <AuthenticationCard>

                <div class="text-left">
                    <h1>
                        Réinitialiser
                    </h1>
                    <h3>
                        Rentrez un nouveau mot de passe !
                    </h3>
                </div>

                <div>
                    <div>
                        <TextInput id="email" v-model="form.email" type="email" class="mt-1 block w-full" required autofocus
                            autocomplete="username" placeholder="Email" />
                        <InputError class="mt-2" :message="form.errors.email" />
                    </div>

                    <div class="mt-4">
                        <IconTextInput 
                            id="password" 
                            v-model="form.password" 
                            :type="showPassword ? 'text' : 'password'" 
                            class="mt-1 block w-full" 
                            required 
                            autocomplete="new-password" 
                            placeholder="Nouveau mot de passe"
                            @iconClick="generatePassword(form)"
                            >
                            <template #icon>
                                <img src="/GraphicRessources/Icons/DiceIcon.svg" alt="icone dés" class="object-contain w-full h-full"/>
                            </template>
                        </IconTextInput>
                        <InputError class="mt-2" :message="form.errors.password" />
                        
                    </div>

                    <div class="mt-4">
                        <IconTextInput 
                            id="password_confirmation" 
                            v-model="form.password_confirmation" 
                            :type="showPassword ? 'text' : 'password'" 
                            class="mt-1 block w-full " 
                            required 
                            autocomplete="new-password" 
                            placeholder="Confirmes ton mot de passe"
                            @iconClick="togglePasswordVisibility"
                            >

                            <template #icon>
                            <img src="/GraphicRessources/Icons/ClosedEyeIcon.svg" class="object-contain w-full h-full" alt="icone oeil fermé" v-if="showPassword"/>
                            <img src="/GraphicRessources/Icons/EyeIcon.svg" class="object-contain w-full h-full" alt="icone oeil" v-else>
                            </template>
                        </IconTextInput>
                        <InputError class="mt-2" :message="form.errors.password_confirmation" />
                    </div>
                </div>

                <div class="flex items-center justify-center lg:mb-4">
                    <SubmitButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Réinitialiser
                    </SubmitButton>
                </div>
            </AuthenticationCard>
        </LoggedoutLayout>
    </form>
</template>
