<script setup>
import { nextTick, ref } from 'vue';
import { Head, useForm, Link } from '@inertiajs/vue3';
import AuthenticationCard from '@/Components/AuthenticationCard.vue';
import InputError from '@/Components/InputError.vue';
import SubmitButton from '@/Components/DesignSystem/Buttons/SubmitButton.vue';
import TextInput from '@/Components/DesignSystem/Input/TextInput.vue';
import LoggedoutLayout from "@/Layouts/LoggedoutLayout.vue";


import GoBack from "@/Components/DesignSystem/Buttons/GoBack.vue";

const recovery = ref(false);

const form = useForm({
    code: '',
    recovery_code: '',
});

const recoveryCodeInput = ref(null);
const codeInput = ref(null);

const toggleRecovery = async () => {
    recovery.value ^= true;

    await nextTick();

    if (recovery.value) {
        recoveryCodeInput.value.focus();
        form.code = '';
    } else {
        codeInput.value.focus();
        form.recovery_code = '';
    }
};

const submit = () => {
    form.post(route('two-factor.login'));
};
</script>

<template>
    <LoggedoutLayout title="Vérification à double facteur">
        <!-- Header -->
        <template #objectStart>
            <GoBack />
        </template>

        <template #objectEnd>
            <Link class="underline text-main-black font-semibold" :href="route('dashboard')">
            tester l'application
            </Link>
        </template>

        <AuthenticationCard>

            <div class="text-left">
                <h1>
                    Juste une petite verif !
                </h1>
                <h3>
                    Est-ce bien le bon e-mail ?
                </h3>
            </div>



            <form @submit.prevent="submit">
                <p class="mb-4 text-center text-xs font-semibold">
                    <template v-if="!recovery">
                        Confirme l'accès à ton compte en saisissant le code d'authentification fourni par ton application.
                    </template>

                    <template v-else>
                        Confirme l'accès à ton compte en saisissant l'un de tes codes de récupération d'urgence.
                    </template>
                </p>

                <div v-if="!recovery">
                    <TextInput id="code" ref="codeInput" v-model="form.code" type="text" inputmode="numeric"
                        class="mt-1 block w-full" autofocus autocomplete="one-time-code"
                        placeholder="Code d'authentification" />
                    <InputError class="mt-2" :message="form.errors.code" />
                </div>

                <div v-else>
                    <TextInput id="recovery_code" ref="recoveryCodeInput" v-model="form.recovery_code" type="text"
                        class="mt-1 block w-full" autocomplete="one-time-code" placeholder="Code de récupération" />
                    <InputError class="mt-2" :message="form.errors.recovery_code" />
                </div>
                <div class="flex justify-center lg:mb-4mb-2">
                    <button type="button" @click.prevent="toggleRecovery">
                        <p v-if="!recovery" class="underline text-second-color mt-5 text-xs font-semibold">
                            Utiliser un code de récupération
                        </p>

                        <template v-else>
                            <p class="underline text-second-color mt-5 text-xs font-semibold">
                                Utiliser un code d'authentification
                            </p>
                        </template>
                    </button>
                </div>

            </form>

            <form @submit.prevent="submit" class="flex justify-center lg:mb-4">
                <SubmitButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Se connecter
                </SubmitButton>
            </form>
        </AuthenticationCard>
    </LoggedoutLayout>
</template>
