<script setup>
import { computed } from 'vue';
import { Head, Link, useForm } from '@inertiajs/vue3';
import AuthenticationCard from '@/Components/AuthenticationCard.vue';
import SubmitButton from '@/Components/DesignSystem/Buttons/SubmitButton.vue';
import LoggedoutLayout from "@/Layouts/LoggedoutLayout.vue";
import GoBack from '@/Components/DesignSystem/Buttons/GoBack.vue';

const props = defineProps({
    status: String,
});

const form = useForm({});

const submit = () => {
    form.post(route('verification.send'));
};

const verificationLinkSent = computed(() => props.status === 'verification-link-sent');
</script>

<template>
    <form @submit.prevent="submit">
        <LoggedoutLayout title="Vérification d'email">
            <!-- Header -->
            <template #objectStart>
                <GoBack />
            </template>

            <template #objectEnd>
                <Link class="underline text-main-black font-semibold" :href="route('dashboard')">
                tester l'application
                </Link>
            </template>

            <AuthenticationCard>

                <div class="text-left">
                    <h1>
                        Juste une petite verif !
                    </h1>
                    <h3>
                        Est-ce bien le bon e-mail ?
                    </h3>
                </div>

                <p class="flex-col text-center p-4 text-xs font-semibold">
                    <div class="flex justify-center md:mb-16 ">
                        <img src="/GraphicRessources/Icons/ShieldClay.svg" alt="icone bouuclier" />
                    </div>
                    Avant de continuer, peux tu vérifier ton adresse email en cliquant sur le lien que nous venons de
                    t'envoyer ?
                    <br />
                    <br />
                    Tu n'as pas reçu d'email? Pas de panique on t'en envois un autre avec plaisir !
                </p>

                <p v-if="verificationLinkSent" class="mb-4 font-medium text-sm text-green-600">
                    Un nouvel e-mail a été envoyé à ton adresse email ! Tu peux vérifier dans les spams si elle n'y est pas
                    cachée :/
                </p>


                <div class="mt-4 flex flex-col items-center justify-between">
                    <SubmitButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Renvoyer l'email de vérification
                    </SubmitButton>

                    <div class="flex justify-center">
                        <Link :href="route('profile.show')">
                        <p class="underline text-sm text-second-color lg:mb-4 mr-2">
                            Modifier le profil
                        </p>
                        </Link>

                        <Link :href="route('logout')" method="post" as="button">
                        <p class="underline text-second-color lg:mb-4 ml-2 mb-2 text-xs font-semibold">
                            Se déconnecter
                        </p>
                        </Link>
                    </div>
                </div>
            </AuthenticationCard>
        </LoggedoutLayout>
    </form>
</template>
