<script setup>

import { computed } from 'vue';

const props = defineProps({
    level: {
        type: [Number, String],
        default: 1
    },
    max: Number,
    layout: {
        type: String,
        default: 'dots'
    }
});

const levelNumber = computed(() => {
    if (typeof props.level === 'string') {
        switch (props.level.toLowerCase()) {
            case 'faible':
                return 1;
            case 'moyen':
                return 2;
            case 'fort':
                return 3;
            default:
                return 1;
        }
    } else {
        return props.level;
    }
});

</script>

<template>
	<!-- Level layout -->
	<div v-if="props.layout === 'dots'" class="flex items-center h-full min-h-6">
		<span v-for="n in props.max" :key="n" class="mr-1">
			<svg v-if="n <= levelNumber" class="w-3 h-3 md:h-4 md:w-4 fill-mustard stroke-mustard"
					xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<path fill-opacity="0" stroke-dasharray="60" stroke-dashoffset="60" stroke-linecap="round" stroke-width="3" d="M3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12Z">
						<animate fill="freeze" attributeName="stroke-dashoffset" dur="0.5s" values="60;0"/>
						<animate fill="freeze" attributeName="fill-opacity" begin="0.5s" dur="0.5s" values="0;1"/>
				</path>
			</svg>
			<svg v-else class="w-3 h-3 md:h-4 md:w-4 stroke-mustard fill-light-green" xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 24 24">
				<path fill-opacity="0.5" stroke-dasharray="60" stroke-dashoffset="60" stroke-linecap="round" stroke-width="3" d="M3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12Z"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.5s" values="60;0"/><animate fill="freeze" attributeName="fill-opacity" begin="0.5s" dur="0.15s" values="0;0.3"/></path>
			</svg>
		</span>
	</div>
	<!-- Water layout -->
	<div v-else-if="props.layout === 'water'" class="flex items-center">
		<span v-for="n in props.max" :key="n" class="w-5 h-5 md:h-6 md:w-6 mr-1">
			<svg v-if="n <= levelNumber" class="fill-blue-500 stroke-blue-500" xmlns="http://www.w3.org/2000/svg" width="100%"
				height="100%" viewBox="0 0 20 24">
				<path 
					fill-opacity="0" d="M6 15C6 9 12 4 12 4C12 4 14.9522 6.46019 16.715 10L6.8347 18C6.31173 17.2671 6 16.2894 6 15Z"><animate fill="freeze" attributeName="fill-opacity" begin="0.4s" dur="0.5s" values="0;1"/></path><path fill="none" stroke-dasharray="28" stroke-dashoffset="28" stroke-linecap="round" stroke-width="2" d="M12 3C12 3 19 9 19 15C19 17 18 21 12 21M12 3C12 3 5 9 5 15C5 17 6 21 12 21"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.4s" values="28;0"/></path>

			</svg>
			<svg v-else class="shrink-0 fill-gray-300 stroke-gray-300" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
				viewBox="0 0 20 24">
				<path 
					fill-opacity="0" d="M6 15C6 9 12 4 12 4C12 4 14.9522 6.46019 16.715 10L6.8347 18C6.31173 17.2671 6 16.2894 6 15Z"><animate fill="freeze" attributeName="fill-opacity" begin="0.4s" dur="0.5s" values="0;1"/></path><path fill="none" stroke-dasharray="28" stroke-dashoffset="28" stroke-linecap="round" stroke-width="2" d="M12 3C12 3 19 9 19 15C19 17 18 21 12 21M12 3C12 3 5 9 5 15C5 17 6 21 12 21"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.4s" values="28;0"/></path>
			</svg>
		</span>
	</div>
	<!-- Sun layout -->
	<div v-else-if="props.layout === 'sun'" class="flex items-center">
		<span v-for="n in props.max" :key="n" class="w-6 h-6 md:h-7 md:w-7 mr-1">
			<svg v-if="n <= levelNumber" class="shrink-0 fill-yellow-400 stroke-yellow-400 " xmlns="http://www.w3.org/2000/svg" width="100%"
					height="100%" viewBox="0 0 24 24">
					<g stroke-linecap="round" stroke-width="2" ><path fill-opacity="0" stroke-dasharray="34" stroke-dashoffset="34" d="M12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.4s" values="34;0"/><animate fill="freeze" attributeName="fill-opacity" begin="0.9s" dur="0.5s" values="0;1"/></path><g fill="none" stroke-dasharray="2" stroke-dashoffset="2"><path d="M0 0"><animate fill="freeze" attributeName="d" begin="0.5s" dur="0.2s" values="M12 19v1M19 12h1M12 5v-1M5 12h-1;M12 21v1M21 12h1M12 3v-1M3 12h-1"/><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.5s" dur="0.2s" values="2;0"/></path><path d="M0 0"><animate fill="freeze" attributeName="d" begin="0.7s" dur="0.2s" values="M17 17l0.5 0.5M17 7l0.5 -0.5M7 7l-0.5 -0.5M7 17l-0.5 0.5;M18.5 18.5l0.5 0.5M18.5 5.5l0.5 -0.5M5.5 5.5l-0.5 -0.5M5.5 18.5l-0.5 0.5"/><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s" dur="0.2s" values="2;0"/></path></g></g>			</svg>
			<svg v-else class="fill-gray-300 stroke-gray-300" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
					viewBox="0 0 24 24">
					<g stroke-linecap="round" stroke-width="2"><path fill-opacity="0" stroke-dasharray="34" stroke-dashoffset="34" d="M12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.4s" values="34;0"/><animate fill="freeze" attributeName="fill-opacity" begin="0.9s" dur="0.5s" values="0;1"/></path><g fill="none" stroke-dasharray="2" stroke-dashoffset="2"><path d="M0 0"><animate fill="freeze" attributeName="d" begin="0.5s" dur="0.2s" values="M12 19v1M19 12h1M12 5v-1M5 12h-1;M12 21v1M21 12h1M12 3v-1M3 12h-1"/><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.5s" dur="0.2s" values="2;0"/></path><path d="M0 0"><animate fill="freeze" attributeName="d" begin="0.7s" dur="0.2s" values="M17 17l0.5 0.5M17 7l0.5 -0.5M7 7l-0.5 -0.5M7 17l-0.5 0.5;M18.5 18.5l0.5 0.5M18.5 5.5l0.5 -0.5M5.5 5.5l-0.5 -0.5M5.5 18.5l-0.5 0.5"/><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s" dur="0.2s" values="2;0"/></path></g></g>			</svg>
		</span>
	</div>
</template>
